<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/fragments :: header (~{:: #title}, ~{:: #customStyle})}">
    <th:block id="title">DeepUP | Hồ sơ</th:block>
</head>

<body>
    <div th:replace="~{/layout/fragments :: navbar}"></div>
    <div th:replace="~{/layout/fragments :: topic-bar}"></div>
    <div th:replace="~{/layout/profile-fragments :: profile(${profile}, ${3}, ~{:: #passwordChange})}"></div>

    <!-- info -->
    <div hidden>
        <div id="passwordChange">
            <form class="mt-4" th:action="@{password}" th:object="${passwordChangeRequest}"
                  enctype="multipart/form-data" method="post" style="max-width: 50%;">
                <p class="text-center text-danger" th:text="${error}"></p>

                <!-- old password -->
                <div class="mb-3">
                    <label for="pw1" class="form-label">Nhập mật khẩu cũ</label>
                    <input th:field="*{oldPassword}" type="password" class="form-control" id="pw1">
                    <small th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"
                           class="form-text text-danger"></small>
                </div>

                <!-- new password -->
                <div class="mb-3">
                    <label for="pw2_1" class="form-label">Nhập mật khẩu mới</label>
                    <input th:field="*{password}" type="password" class="form-control" id="pw2_1">
                    <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                           class="form-text text-danger"></small>
                </div>

                <!-- new password -->
                <div class="mb-3">
                    <label for="pw2_2" class="form-label">Nhập lại mật khẩu mới</label>
                    <input th:field="*{repeatPassword}" type="password" class="form-control" id="pw2_2">
                    <small th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}"
                           class="form-text text-danger"></small>
                    <small th:if="${#fields.hasErrors('validPassword')}" th:errors="*{validPassword}"
                           class="form-text text-danger"></small>
                </div>

                <button type="submit" class="btn btn-success"><i class="bi bi-check-lg"></i> Thay đổi mật khẩu</button>
            </form>
        </div>
    </div>

    <!-- modal -->
    <div th:if="${param.successful != null}">
        <div class="modal fade" id="successfulModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thành công</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Thay đổi mật khẩu thành công
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer & script -->
    <div th:replace="~{/layout/fragments :: footer}"></div>
    <div th:replace="~{/layout/fragments :: script}"></div>

    <script type="text/javascript">
        $(window).on('load', function() {
            $('#successfulModal').modal('show');
        });
        window.scrollTo(0, 500);
    </script>
</body>

</html>